@media(max-width:900px){
*{
    box-sizing: border-box;
}
.history-img{
    float:none !important;
    width:100% !important;
}
.history-content{
    float:none !important;
    max-width:100% !important;
    height:50vh;
}
.container{
    max-width:80vw;
}
.features-item{
    height:30vh;
    border:2px solid;
    width:100%;
    text-align: center;
    float:none;
    margin-right:0;
    margin-bottom:1%;
}
#About{
    height:130vh;
}
#About i[class="fa fa-user-circle fa-5x"]{
    color:#fff;
    margin:10vh 20vw;
}
#About a{
    margin:5vh 15vw;
}
#Testimonials a{
    margin:0 20vw;
}
#contact .container{
    text-align:center;
    margin-right:20px;
    margin-left:20px;
}
#Testimonials .testimonials-list{
    height:120vh;
    width:75vw;
}

nav .nav-logo{
    float:none;
    text-align:center;
    display:block;
    color:#fff;
    padding:10px;
    font-weight: bolder;
}
nav .nav-menu ul{
    list-style: none;
    float:none;
    text-align:center;
    margin:0;
}
nav .nav-menu ul li{
    display: block;
    color:#fff;
    padding:10px;  
}
nav .nav-menu ul li a{
    text-decoration: none;  
}
}