@media(max-width:900px){
.history-img{
    float:none !important;
    width:100% !important;
}
.history-content{
    float:none !important;
    max-width:100% !important;
    height:40vh;
}
.features-item{
    height:30vh;
    border:2px solid;
    width:100%;
    text-align: center;
    float:none;
    margin-right:0;
    margin-bottom:1%;
}

#About i{
    color:#fff;
    margin:10vh 40vw;
}
#contact .container{
    text-align:center;
    margin-right:20px;
    margin-left:20px;
}
nav .nav-logo{
    float:none;
    text-align:center;
    display:block;
    color:#fff;
    padding:10px;
    font-weight: bolder;
}
nav .nav-menu ul{
    list-style: none;
    float:none;
    text-align:center;
    margin:0;
}
nav .nav-menu ul li{
    display: block;
    color:#fff;
    padding:10px;  
}

}